.alertbox {
    width: 41rem;
    height: 14rem;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: skewY(350deg);
    cursor: help;
    border: medium dashed #000;
    animation: slide-right 500ms linear,
        fadeIn 3s, rotate 1s 1s infinite linear;
}

.alert {
    width: 45rem;
    padding: 2rem 4rem 2rem 0;
    background-color: #0ADBB3;
    font-size: 2rem;
    text-align: center;
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    clip-path: polygon(0 14%, 94% 0, 90% 100%, 0 86%);
}

@media (max-width:788px) {
    .alertbox {
        top: 30%;
        left: 30%;
        scale: .8;
        translate: -50% -50%;
        animation: slideRight 500ms linear,
            fadeIn 3s, rotate 1s 1s infinite linear;
    }

    .alert {
        font-size: 2.2rem;
    }

    @keyframes slideRight {
        from {
            left: 20%;
        }

        to {
            left: 30%;
        }
    }
}

@media (max-width:550px) {
    .alertbox {
        top: 28%;
        left: 45%;
        scale: .7;
        animation: slideRight 500ms linear,
            fadeIn 3s, rotate 1s 1s infinite linear;
    }

    @keyframes slideRight {
        from {
            left: 35%;
        }

        to {
            left: 45%;
        }
    }
}

@keyframes slide-right {
    from {
        left: 5%;
    }

    to {
        left: 15%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        border-width: thick;
    }
}