#snackbar {
    font-size: 2.5rem;
    font-family: jokerman;
    position: fixed;
    top: 75vh;
    left: 50%;
    translate: -50%;
    color: #454545;
    z-index: 5;
    text-transform: lowercase;
    text-shadow: 3px 5px 2px #474747;
    animation: slide-up 2s linear, fadeOut 2s 1s;
}

@keyframes slide-up {
    0% {
        top: 80vh;
    }

    50% {
        top: 78vh;
    }

    100% {
        top: 75vh;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}